<!--             -->
<!--   DESKTOP   -->
<!--             -->

<!-- Includes headshot, name/title, and email -->
{% include leftSideHeader.html %}

<!-- Displays the description from _config.yml (e.g. description: Data Scientist .....) or default to GitHub’s project tagline -->
<p>{{ site.description | default: site.github.project_tagline }}</p>

<!-- Left Side Platforms (Github, LinkedIn, Resume) Layout DESKTOP -->
<div class="linkWrapperDesktop">
  {% if site.platforms %}
    <ul class="link">
      {%- for platform in site.platforms %}
        <li>
          <a href="{{ platform.link }}" target="_blank" rel="noopener">
            {{ platform.icon | safe }}&nbsp;{{ platform.name }}
          </a>
        </li>
      {%- endfor %}
    </ul>
  {% endif %}
</div>
