<!--             -->
<!--   DESKTOP   -->
<!--             -->

<!-- Left Side Platforms (Github, LinkedIn, Resume) Layout DESKTOP -->
<div class="linkWrapperDesktop">
  {% if site.platforms %}
    <ul class="link">
      {%- for platform in site.platforms %}
        <li>
          {%- if platform.name == "Resume" or platform.name == "CV" -%}
            <a href="{{ platform.link }}" class="primaryButton" target="_blank" rel="noopener">
              {{ platform.icon | safe }}&nbsp;{{ platform.name }}
            </a>
          {%- else -%}
            <a href="{{ platform.link }}" class="baseButton" target="_blank" rel="noopener">
              {{ platform.icon | safe }}&nbsp;{{ platform.name }}
            </a>
          {%- endif -%}
        </li>
      {%- endfor %}
    </ul>
  {% endif %}
</div>
