<!-- Color Scheme Handling -->
{% case site.colorScheme %}
  {% when "", nil, false, 0, empty %}
    {% assign ColorScheme = "auto" %}
  {% else %}
    {% assign ColorScheme = site.colorScheme %}
{% endcase %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  
  <head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ "/assets/css/colorsColorScheme.css?v=" | replace: "ColorScheme", ColorScheme | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    
    <!-- Preload Headshot (Boosts speed) -->
    <link rel="preload" href="{{site.headshot | relative_url}}" as="image">
    
    <!-- Favicon (Icon in tab of browser) -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.1/css/all.min.css">
  </head>
  
  <body>
    <!-- Page Layout -->
    <div class="wrapper">
      <div class="leftSide">
        <header>
          {%- include leftSideContent(Desktop).html -%}
        </header>
        {% include leftSideContent(Mobile).html %}
      </div>
      <section>
      {{ content }}
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
